---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Header />

<div class="banner"></div>
<div class="intro">
  <div class="container">
    <div class="content">
      <img
        class="studio-image"
        src="/wp-content/uploads/2025/07/mountains.svg"
        alt="Studio 1 with lake view"
      />
      <h1>Luxury Accommodation in Lake Tekapo</h1>
      Prepare to be mesmerized by the iconic turquoise waters of Lake Tekapo, their
      vibrant hue ever-changing with the light. Beyond, the majestic, often snow-capped
      peaks of the Southern Alps provide a dramatic and stunning backdrop. It's a
      truly picture-perfect scene in every season.
    </div>
  </div>
</div>
<div class="studio-listings">
  <div class="container">
    <div class="content">
      <div class="list">
        <div class="studio">
          <img
            class="studio-image"
            src="/wp-content/uploads/2025/07/76065139.jpg"
            alt="Studio 2 with lake view"
          />
          <div class="studio-content">
            <h2>Studio 1</h2>
            Embrace a luxurious sense of space in our 45sqm studio, where the open-plan
            design enhances your stunning lake views. With ample room for a full
            kitchen and lounge, it's the perfect, light-filled retreat to truly spread
            out and unwind.
            <div class="studio-amenities">
              <div class="amenity-item">
                <img src="/images/lake-view.png" alt="Lake view icon" />
                <span>Lake view</span>
              </div>
              <div class="amenity-item">
                <img src="/images/size.png" alt="Size icon" />
                <span>45 m² size</span>
              </div>
              <div class="amenity-item">
                <img src="/images/parking.png" alt="Parking icon" />
                <span>Free parking</span>
              </div>
              <div class="amenity-item">
                <img src="/images/bathroom.png" alt="Bathroom icon" />
                <span>Private bathroom</span>
              </div>
              <div class="amenity-item">
                <img src="/images/wifi.png" alt="WiFi icon" />
                <span>Free WiFi</span>
              </div>
              <div class="amenity-item">
                <img src="/images/air-con.png" alt="Air conditioning icon" />
                <span>Air conditioning</span>
              </div>
              <div class="amenity-item">
                <img src="/images/bbq.png" alt="BBQ facilities icon" />
                <span>BBQ facilities</span>
              </div>
              <div class="amenity-item">
                <img src="/images/shower.png" alt="Shower icon" />
                <span>Shower</span>
              </div>
              <div class="amenity-item">
                <img src="/images/no-smoking.png" alt="Non-smoking icon" />
                <span>Non-smoking</span>
              </div>
            </div>
            <div class="button">
              <a class="book-button" href="/studio-1/">Book studio 1</a>
            </div>
          </div>
        </div>
        <div class="studio">
          <img
            class="studio-image"
            src="/wp-content/uploads/2025/08/studio2-1.webp"
            alt="Studio 2 with lake view"
          />
          <div class="studio-content">
            <h2>Studio 2</h2>
            Discover the charm of our 25sqm hideaway, cleverly designed with modern
            comforts and a unique reading shed for a quiet escape. It’s the perfect
            cozy base to enjoy those same breathtaking lake views during your Tekapo
            adventures.
            <div class="studio-amenities">
              <div class="amenity-item">
                <img src="/images/lake-view.png" alt="Lake view icon" />
                <span>Lake view</span>
              </div>
              <div class="amenity-item">
                <img src="/images/size.png" alt="Size icon" />
                <span>25 m² size</span>
              </div>
              <div class="amenity-item">
                <img src="/images/parking.png" alt="Parking icon" />
                <span>Free parking</span>
              </div>
              <div class="amenity-item">
                <img src="/images/bathroom.png" alt="Bathroom icon" />
                <span>Private bathroom</span>
              </div>
              <div class="amenity-item">
                <img src="/images/wifi.png" alt="WiFi icon" />
                <span>Free WiFi</span>
              </div>
              <div class="amenity-item">
                <img src="/images/air-con.png" alt="Air conditioning icon" />
                <span>Air conditioning</span>
              </div>
              <div class="amenity-item">
                <img src="/images/bbq.png" alt="BBQ facilities icon" />
                <span>BBQ facilities</span>
              </div>
              <div class="amenity-item">
                <img src="/images/shower.png" alt="Shower icon" />
                <span>Shower</span>
              </div>
              <div class="amenity-item">
                <img src="/images/no-smoking.png" alt="Non-smoking icon" />
                <span>Non-smoking</span>
              </div>
            </div>
            <div class="button">
              <a class="book-button" href="/studio-2/">Book studio 2</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="stunning-views">
  <img
    class="stunning-views-image"
    src="/wp-content/uploads/2025/08/stunning-views.webp"
    alt="stunning views"
  />
  <div class="container">
    <div class="content">
      <h2>Stunning Lake Views</h2>
      Prepare to be mesmerized by the iconic turquoise waters of Lake Tekapo and
      the majestic, often snow-capped peaks of the Southern Alps. It's a picture-perfect
      scene in every season.
    </div>
  </div>
</div>
<div class="stargazers-paradise">
  <img
    class="stargazers-paradise-image"
    src="/wp-content/uploads/2025/08/stargazers-paradise.webp"
    alt="stargazer's paradise"
  />
  <div class="container">
    <div class="content">
      <h2>Stargazers Paradise</h2>
      Lake Tekapo’s night sky is a breathtaking display of stars, thanks to its location
      in the Aoraki Mackenzie International Dark Sky Reserve. With minimal light
      pollution, the Milky Way, constellations, and even shooting stars are clearly
      visible, making it a world-class spot for stargazing.
    </div>
  </div>
</div>
<div class="reviews">
  <div class="container">
    <div class="content">
      <h2>What our guests say</h2>
      [trustindex no-registration=google]
    </div>
  </div>
</div>
<Footer />
