---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="banner">
    <img
      class="banner-image"
      src="/images/home/banner.webp"
      alt="Simply Lake Tekapo Accommodation Banner"
    />
  </div>
  <div class="intro">
    <div class="container">
      <div class="inner">
        <img
          class="studio-image"
          src="/images/home/mountains.svg"
          alt="Mountains"
        />
        <h1>Luxury Accommodation in Lake Tekapo</h1>
        <p>
          Experience the breathtaking beauty of Lake Tekapo's iconic turquoise waters, their vibrant hue ever-changing with the light. Set against the majestic, snow-capped peaks of the Southern Alps, our studios offer a truly picture-perfect retreat in every season.
        </p>
      </div>
    </div>
  </div>
  <div class="studio-listings">
    <div class="container">
      <div class="list">
        <div class="studio">
          <img
            class="studio-image"
            src="/images/home/studio-1.jpg"
            alt="Studio 1 with lake view"
          />
          <div class="studio-content">
            <h2>Studio 1</h2>
            <p>
              Embrace luxurious space in our 45m² studio, where the open-plan design frames stunning lake views. With a full kitchen and lounge area, it's the perfect light-filled retreat to spread out and unwind.
            </p>
            <div class="studio-amenities">
              <div class="amenity-item">
                <img src="/images/icons/lake-view.svg" alt="Lake view icon" />
                <span>Lake view</span>
              </div>
              <div class="amenity-item">
                <img src="/images/icons/size.svg" alt="Size icon" />
                <span>45 m² size</span>
              </div>
              <div class="amenity-item">
                <img src="/images/icons/parking.svg" alt="Parking icon" />
                <span>Free parking</span>
              </div>
              <div class="amenity-item">
                <img src="/images/icons/bathroom.svg" alt="Bathroom icon" />
                <span>Private bathroom</span>
              </div>
              <div class="amenity-item">
                <img src="/images/icons/wifi.svg" alt="WiFi icon" />
                <span>Free WiFi</span>
              </div>
              <div class="amenity-item">
                <img
                  src="/images/icons/air-con.svg"
                  alt="Air conditioning icon"
                />
                <span>Air conditioning</span>
              </div>
              <div class="amenity-item">
                <img src="/images/icons/bbq.svg" alt="BBQ facilities icon" />
                <span>BBQ facilities</span>
              </div>
              <div class="amenity-item">
                <img src="/images/icons/shower.svg" alt="Shower icon" />
                <span>Shower</span>
              </div>
              <div class="amenity-item">
                <img
                  src="/images/icons/no-smoking.svg"
                  alt="Non-smoking icon"
                />
                <span>Non-smoking</span>
              </div>
            </div>
            <div class="button">
              <a
                class="book-button"
                target="_blank"
                href="https://www.airbnb.co.nz/rooms/1466965380148685242?source_impression_id=p3_1768877722_P3iHBJgxotvhyFTL"
                >Book studio 1</a
              >
            </div>
          </div>
        </div>
        <div class="studio">
          <img
            class="studio-image"
            src="/images/home/studio-2.webp"
            alt="Studio 2 with lake view"
          />
          <div class="studio-content">
            <h2>Studio 2</h2>
            <p>
              Discover the charm of our 25m² hideaway, thoughtfully designed with modern comforts and a unique reading shed for peaceful moments. The perfect cozy base to enjoy breathtaking lake views during your Tekapo adventures.
            </p>
            <div class="studio-amenities">
              <div class="amenity-item">
                <img src="/images/icons/lake-view.svg" alt="Lake view icon" />
                <span>Lake view</span>
              </div>
              <div class="amenity-item">
                <img src="/images/icons/size.svg" alt="Size icon" />
                <span>25 m² size</span>
              </div>
              <div class="amenity-item">
                <img src="/images/icons/parking.svg" alt="Parking icon" />
                <span>Free parking</span>
              </div>
              <div class="amenity-item">
                <img src="/images/icons/bathroom.svg" alt="Bathroom icon" />
                <span>Private bathroom</span>
              </div>
              <div class="amenity-item">
                <img src="/images/icons/wifi.svg" alt="WiFi icon" />
                <span>Free WiFi</span>
              </div>
              <div class="amenity-item">
                <img
                  src="/images/icons/air-con.svg"
                  alt="Air conditioning icon"
                />
                <span>Air conditioning</span>
              </div>
              <div class="amenity-item">
                <img src="/images/icons/bbq.svg" alt="BBQ facilities icon" />
                <span>BBQ facilities</span>
              </div>
              <div class="amenity-item">
                <img src="/images/icons/shower.svg" alt="Shower icon" />
                <span>Shower</span>
              </div>
              <div class="amenity-item">
                <img
                  src="/images/icons/no-smoking.svg"
                  alt="Non-smoking icon"
                />
                <span>Non-smoking</span>
              </div>
            </div>
            <div class="button">
              <a
                class="book-button"
                target="_blank"
                href="https://www.airbnb.co.nz/rooms/1467014234890267466?source_impression_id=p3_1768877798_P3dINcAFXsh10wZc"
                >Book studio 2</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="stunning-views split-section">
    <div class="container">
      <div class="inner">
        <img
          class="stunning-views-image"
          src="/images/home/stunning-views.jpg"
          alt="stunning views"
        />
        <div class="text">
          <h2>Stunning Lake Views</h2>
          <p>
            Wake up to the iconic turquoise waters of Lake Tekapo and the majestic snow-capped peaks of the Southern Alps. A picture-perfect vista that changes beautifully with every season.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="stargazers-paradise split-section">
    <div class="container">
      <div class="inner">
        <img
          class="stargazers-paradise-image"
          src="/images/home/stargazers-paradise.webp"
          alt="stargazer's paradise"
        />
        <div class="text">
          <h2>Stargazer's Paradise</h2>
          <p>
            Experience world-class stargazing in the Aoraki Mackenzie International Dark Sky Reserve. With minimal light pollution, the Milky Way, constellations, and shooting stars shine brilliantly above Lake Tekapo's pristine night sky.
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>
