<footer>
    <div class="footer-container">
        <a href="#"><img class="logo" src="https://simplystunningstudiostekapo.nz/wp-content/uploads/2025/06/logo-light.svg"
                alt="">
        </a>
        <ul>
            <li><a href="#">Book a studio</a></li>
            <li><a href="#">Experience Tekapo</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
            

        </ul>
        <div class="social-links">
            <a href="instagram.com">
                Instagram
            </a>
        </div>
        <div class="copyright">
            <p>&#169;2025 Simply Stunning Studios Tekapo Inc. All rights reserved</p>
        </div>
    </div>
</footer>