<footer>
    <div class="footer-container">
        <a href="#"><img class="logo" src="/images/logo-footer.svg"
                alt="">
        </a>
        <ul class="footer-links">
                    <li><a target="_blank" href="https://www.airbnb.co.nz/rooms/1466965380148685242?source_impression_id=p3_1768877722_P3iHBJgxotvhyFTL">Book Studio 1</a></li>
                    <li><a target="_blank" href="https://www.airbnb.co.nz/rooms/1467014234890267466?source_impression_id=p3_1768877798_P3dINcAFXsh10wZc">Book Studio 2</a></li>
            

        </ul>
        <div class="social-links">
            <a class="instagram" href="https://www.instagram.com/simplystunningstudiostekaponz/" target="_blank">
                <img src="/images/icons/instagram.svg" alt="">
            </a>
        </div>
        <div class="copyright">
            <p>&#169;2025 Simply Stunning Studios Tekapo Inc. All rights reserved</p>
        </div>
    </div>
</footer>