<header>
  <nav class="desktop-navbar">
    <div class="desktop-navbar-container">
      <a href="/"
        ><img
          class="logo"
          src="/images/logo.svg"
          alt=""
        />
      </a>
      <div class="nav-links">
        <ul>
          <li>
            <a
              target="_blank"
              href="https://www.airbnb.co.nz/rooms/1466965380148685242?source_impression_id=p3_1768877722_P3iHBJgxotvhyFTL"
              >Book Studio 1</a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.airbnb.co.nz/rooms/1467014234890267466?source_impression_id=p3_1768877798_P3dINcAFXsh10wZc"
              >Book Studio 2</a>
          </li>
        </ul>
        <!-- <a class="book-button" href="#">Book a studio</a> -->
      </div>
    </div>
  </nav>

  <nav class="mobile-navbar">
    <input type="checkbox" id="menu-toggle" class="menu-toggle" />
    <div class="mobile-navbar-container">
      <a href="#"><img class="logo" src="/images/logo.svg" alt="" /> </a>
      <label for="menu-toggle" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <div class="offcanvas-menu">
      <div class="menu-items">
        <ul>
          <li><a href="#">Home</a></li>
          <li>
            <a
              target="_blank"
              href="https://www.airbnb.co.nz/rooms/1466965380148685242?source_impression_id=p3_1768877722_P3iHBJgxotvhyFTL"
              >Book Studio 1</a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.airbnb.co.nz/rooms/1467014234890267466?source_impression_id=p3_1768877798_P3dINcAFXsh10wZc"
              >Book Studio 2</a>
          </li>
          <!-- <li><a href="#">Experience Tekapo</a></li> -->
          <!-- <li><a href="#">Blog</a></li> -->
          <!-- <li><a href="#">About us</a></li> -->
          <!-- <li><a href="#">Contact us</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>
